PORT=8787
AUTH0_DOMAIN=dev-l52y223ttoigljdr.us.auth0.com
AUTH0_AUDIENCE=https://mnemosyne-api
AUTH0_ROLES_NAMESPACE=https://mnemosyne.app
CLIENT_ORIGIN=http://localhost:5173
ELEVENLABS_API_KEY=your_elevenlabs_api_key
ELEVENLABS_VOICE_ID=EXAVITQu4vr4xnSDxMaL
